<h1><%= @user.handle_name %> さんのフォロワー一覧</h1>

<% @users.each do |user| %>
  <div>
    <%= link_to user.handle_name, user_path(user) %> 
    <%= link_to "投稿一覧を見る", posts_user_path(user) %>
  </div>
<% end %>

<%= link_to "マイページに戻る", user_path(@user), class: "button" %>
