@import "bootstrap";
@import "homes";
@import "posts";
// @import "posts_index";
@import "kaminari";




html,
body {
  margin: 0 auto; 
  padding: 20px; 
  max-width: 1200px;
  box-sizing: border-box; 
}


.profiler-results {
  display: none;
}
