* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px; /* 最大幅を設定 */
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 30px 0;
}

form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  animation: fadeIn 1s ease-out;
}

.form-group {
  margin-bottom: 20px;
}

.form-control,
.custom-select,
.form-control-file {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.btn {
  padding: 12px 25px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;

  &:hover {
    background-color: #0056b3;
  }
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;

  &:hover {
    background-color: #5a6268;
  }
}

h4,
label {
  font-family: "YuGothic", "Hiragino Kaku Gothic ProN", Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  a {
    padding: 10px;
    margin: 0 10px;
    font-size: 1.2rem;
    background-color: #0a3a6da9;
    color: white;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: #0056b3;
      text-decoration: none;
    }
  }
}